<%- include('./inc/header.ejs') %>
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <% for(var v = 0; v<videos.length; v++) { %>
                <div class="card mt-2 video-container">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <h5 class="card-title text-light mb-0"><%- videos[v].title %></h5>
                                <small><a href="/mobile/<%- videos[v].author %>">@<%- videos[v].author %></a></small>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <p class="text-light"><%- videos[v].description %></p>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col">
                                <div class="video-box" onclick="window.location.href='/mobile/watch/<%- videos[v]._id %>'">
                                    <video src="../uploads/<%- videos[v].author %>/<%- videos[v].filename %>" width="100%" height="100%"></video>
                                </div>
                            </div>
                        </div>
                        <% if(logUser.username) { %>
                            <ul class="list-group list-group-horizontal" style="background: none; border: none;">
                                <li class="list-group-item" style="background: none; border: none;">
                                    <% if(videos[v].likes == logUser.username) { %>
                                        <form method="POST" action="/mobile/unlike/<%- videos[v]._id %>">
                                            <button type="submit" style="background: none; border: 0px; outline: none; box-shadow: none; color: #fff72e; font-size: 22px;">
                                                <i class="fa-solid fa-heart"></i>
                                            </button>
                                        </form>
                                    <% } else { %>
                                        <form method="POST" action="/mobile/like/<%- videos[v]._id %>">
                                            <button type="submit" style="background: none; border: 0px; outline: none; box-shadow: none; color: #CCC; font-size: 22px;">
                                                <i class="fa-regular fa-heart"></i>
                                            </button>
                                        </form>
                                    <% } %>
                                </li>
                                <li class="list-group-item" style="background: none; border: none; font-size: 22px;">
                                    <a href="/mobile/watch/<%- videos[v]._id %>"><i class="fa-regular fa-comment"></i></a>
                                </li>
                            </ul>
                        <% } %>
                    </div>
                </div>
            <% } %>
        </div>
        <div class="col-lg-4"></div>
    </div>
<%- include('./inc/footer.ejs') %>