<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/sass/main.css">
    <script src="https://kit.fontawesome.com/81f3202402.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./inc/header.ejs') %>
    <div class="container-fluid" style="margin-top: 62px;">
        <div class="row">
            <div class="col-lg-12">
                <%- include('./inc/messages.ejs') %>
            </div>
        </div>
        <div class="row border-bottom pb-2">
            <div class="col-lg-12">
                <h4>Chatroom 1</h4>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-9">
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <div id="messages">
                            <% for(var m = 0;m<messages.length; m++) { %>
                                <p><b><a href="/users/<%- messages[m].user %>"><%- messages[m].user %></a></b></a> <%- messages[m].message %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
                <form method="POST" action="/chat/message" id="form">
                    <div class="row">
                        <div class="col-lg-11">
                                <textarea class="form-control" id="message" name="message" rows="3" cols="0" style="resize: none;" placeholder="Write A Message To The Room"></textarea>
                            </form>
                        </div>
                        <div class="col-lg-1 pl-0">
                            <button type="submit" class="btn btn-block" style="background: none; border: none; outline: none; box-shadow: none; font-size: 28px; text-align: center;"><i class="fa-solid fa-paper-plane"></i> Send</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-3 bg-secondary">
                <h6>Members List</h6>
                <div class="card mt-2" style="min-height: 790px; border-radius: 0px; font-size: 14px;">
                    <div class="card-body" id="userList">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"> 
  </script> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            setInterval(function () {
                $("#messages").load(location.href + ' #messages ');
            }, 1000);
        });
    </script>
</body>
</html>