<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/sass/main.css">
    <script src="https://kit.fontawesome.com/81f3202402.js" crossorigin="anonymous"></script>

</head>
<body>
    <%- include('./inc/header.ejs') %>
    <div class="container" style="margin-top: 62px;">
        <div class="row">
            <div class="col-lg-12">
                <%- include('./inc/messages.ejs') %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 p-0">
                <div id="video_player-box" class="bg-dark">
                    <video src="/uploads/<%- video.author %>/<%- video.filename %>" id="my_video" width="100%" height="500" autoplay muted></video>
                    <div id="video_controls_bar">
                        <button id="playpausebtn" class="ml-3"><i class="fa-solid fa-pause"></i></button>
                        <button id="mutebtn"><i class="fa-solid fa-volume-xmark"></i></button>
                        <input id="volumeslider" type="range" min="0" max="100" value="100" step="1">
                        <span id="curtimetext" style="margin-left: 20px;">00:00</span>
                        <input id="seekslider" type="range" min="0" max="100" value="0" step="1" style="margin-left: 20px;">
                        <button id="fullscreenbtn" style="float: right; background: none; border: 0px; color: #fff72e; font-size: 22px; margin-top: -7px;"><i class="fa-solid fa-expand"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <h5 class="card-title"><%- video.title %></h5>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-2 pr-0">
                                <a href="/users/<%- vidUser.username %>">
                                    <% if(vidUser.avatar) { %>
                                        <img src="/uploads/<%- vidUser.username %>/<%- vidUser.avatar %>" width="50" height="50" class="rounded-circle">
                                    <% } else { %>
                                        <img src="/img/no_pic.jpg" width="50" height="50" class="rounded-circle">
                                    <% } %>
                                </a>
                            </div>
                            <div class="col-lg-7 pl-0 pt-2">
                                <h6 class="card-title mb-0"><a href="/users/<%- vidUser.username %>" class="text-dark"><%- vidUser.firstname %> <%- vidUser.lastname %></a></h6>
                                <p class="text-muted mt-0" style="font-size: 12px;"><%- vidUser.subscriptions.length %> subscribers</p>
                            </div>
                            <div class="col-lg-3">
                                <% if(logUser.username != video.author) { %>
                                    <% if(logUser.username == vidUser.subscribers) { %>
                                        <form method="POST" action="/users/unsubscribe/<%- video.username %>">
                                            <button type="submit" class="btn btn-primary btn-block">Unsubscribe</button>
                                        </form>
                                    <% } else { %>
                                        <form method="POST" action="/users/subscribe/<%- video.username %>">
                                            <button type="submit" class="btn btn-outline-primary btn-block">Subscribe</button>
                                        </form>
                                    <% } %>
                                <% } %>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <%- video.description %>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <ul class="list-group list-group-horizontal border-0">
                                    <li class="list-group-item border-0">
                                        <% if(logUser.username == video.likes) { %>
                                            <form method="POST" action="/videos/unlike/<%- video._id %>">
                                                <button type="submit" style="background: none; outline: none; box-shadow: none; font-size: 17px; color: #ABA944; border: none;"><i class="fa-solid fa-heart"></i> Liked</button>
                                            </form>
                                        <% } else { %>
                                            <form method="POST" action="/videos/like/<%- video._id %>">
                                                <button type="submit" style="background: none; outline: none; box-shadow: none; font-size: 17px; color: #000; border: none;"><i class="fa-regular fa-heart"></i> Like</button>
                                            </form>
                                        <% } %>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-1 pr-0">
                                        <a href="/users/<%- vidUser.username %>">
                                            <% if(vidUser.avatar) { %>
                                                <img src="/uploads/<%- vidUser.username %>/<%- vidUser.avatar %>" width="30" height="30" class="rounded-circle">
                                            <% } else { %>
                                                <img src="/img/no_pic.jpg" width="30" height="30" class="rounded-circle">
                                            <% } %>
                                        </a>
                                    </div>
                                    <div class="col-lg-9">
                                        <form method="POST" action="/videos/comment/<%- video._id %>">
                                            <textarea class="form-control" rows="1" cols="0" id="commentText" name="commentText" style="border-bottom: 1px #AAA solid; border-left: none; border-top: none; border-right: none; resize: none;" placeholder="Write A Comment"></textarea>
                                    </div>
                                    <div class="col-lg-2">
                                            <button type="submit" style="background: none; border: none; outline: none; box-shadow: none; font-size: 25px;"><i class="fa-solid fa-paper-plane"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% for(var comment = 0; comment<comments.length; comment++) { %>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-1">
                                            <a href="/users/<%- comments[comment].author %>">
                                                <% if(comments[comment].comments.avatar) { %>
                                                    <img src="/uploads/<%- comments[comment].author %>/<%- comments[comment].comments.avatar %>" alt="<%- comments[comment].author %>" width="30" height="30" class="rounded-circle">
                                                <% } else { %>
                                                    <img src="/img/no_pic.jpg" alt="<%- comments[comment].author %>" width="30" height="30" class="rounded-circle">
                                                <% } %>
                                            </a>
                                        </div>
                                        <div class="col-lg-10">
                                            <p><a href="/users/<%- comments[comment].author %>" style="color: #ABA944;"><b><%- comments[comment].comments.firstname %> <%- comments[comment].comments.lastname %></b></a> <%- comments[comment].data %></p>
                                            <p class="m-0 text-muted mb-2"><%- comments[comment].date_made.toDateString() %></p>
                                            <p class="m-0">
                                                <% if(comments[comment].likes == logUser.username) { %>
                                                    <form method="POST" action="/videos/unlikeComment/<%- comments[comment]._id %>">
                                                        <button type="submit" style="background: none; outline: none; box-shadow: none; font-size: 17px; color: #ABA944; border: none;"><i class="fa-solid fa-heart"></i> Liked</button>
                                                    </form>
                                                <% } else { %>
                                                    <form method="POST" action="/videos/likeComment/<%- comments[comment]._id %>">
                                                        <button type="submit" style="background: none; outline: none; box-shadow: none; font-size: 17px; color: #000; border: none;"><i class="fa-regular fa-heart"></i> Like</button>
                                                    </form>
                                                <% } %>
                                            </p>
                                        </div>
                                        <div class="col-lg-1">
                                            <% if(comments[comment].author == logUser.username) { %>
                                                <ul class="list-group list-group-horizontal border-0">
                                                    <li class="list-group border-0 dropdown">
                                                        <a href="#" id="commentDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #000;">
                                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                                        </a>

                                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="commentDropdown">
                                                            <form method="POST" action="/videos/deleteComment/<%- comments[comment]._id %>">
                                                                <button type="submit" style="background: none; outline: none; box-shadow: none; font-size: 17px; color: #000; border: none;">Delete</button>
                                                            </form>
                                                        </div>
                                                    </li>
                                                </ul>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
            <div class="col-lg-4 pt-4">
                <h4>Other Videos</h4>
                <hr />
                <% for(var o = 0; o<othervids.length; o++) { %>
                    <% if(video._id != othervids[o]._id) { %>
                        <div class="card border-0 mt-3">
                            <a href="/videos/watch/<%- othervids[o]._id %>">
                            <% if(othervids[o].thumbnail) { %>
                                <img src="/uploads/<%- othervids[o].author %>/<%- othervids[o].thumbnail %>" alt="<%- othervids[o].author %>" class="card-img-top" height="200">
                            <% } else { %>
                                <video src="/uploads/<%- othervids[o].author %>/<%- othervids[o].filename %>" alt="<%- othervids[o].author %>" class="card-img-top" height="200"></video>
                            <% } %>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><%- othervids[o].title %></h5>
                                <p class="m-0"><%- othervids[o].views.length %> views &bull; <a href="/users/<%- othervids[o].author %>"><%- othervids[o].author %></a></p>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/js/video_player.js"></script>
</body>
</html>