<div class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div class="iconContainer">
            <a href="/users/dashboard" class="nav-link">
                <i class="fa-solid fa-house"></i>
            </a>
        </div>
        <div class="iconContainer">
            <a href="/search" class="nav-link">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
        </div>
        <div class="iconContainer">
            <% if(hasNotes.length >= 1) { %>
                <a href="/users/notes" class="nav-link" title="You Have Notifications">
                    <i class="fa-solid fa-bell"></i>
                </a>
            <% } else { %>
                <a href="/users/notes" class="nav-link" title="No Notifications">
                    <i class="fa-regular fa-bell"></i>
                </a>
            <% } %>
        </div>
        <div class="iconContainer">
            <a href="#" class="nav-link" id="uploadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-upload"></i></a>
            <div class="dropdown-menu dropdown-menu-right bg-dark" style="width: 100%;" aria-labelledby="uploadDropdown">
                <a href="/videos/upload" class="dropdown-item text-light mb-3"><i class="fa-solid fa-video mr-3"></i> Upload Video</a>
                <a href="/photos/upload" class="dropdown-item text-light mb-3"><i class="fa-solid fa-image mr-3"></i> Upload Photo</a>
            </div>
        </div>
        <div class="iconContainer">
            <a href="#" class="nav-link" id="acctDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-circle-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-dark text-light" aria-labelledby="acctDropdown" style="min-height: 100%; min-width: 100%; position: fixed; top: 56px; left: 0px; bottom: 0px; right: 0px;">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-12">
                            <h5>Menu</h5>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="card bg-dark text-light" onclick="window.location='/users/<%- logUser.username %>'">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2">
                                            <% if(logUser.avatar) { %>
                                                <img src="/uploads/<%- logUser.username %>/<%- logUser.avatar %>" alt="<%- logUser.username %>" width="40" height="40" class="rounded-circle">
                                            <% } else { %>
                                                <img src="/img/no_pic.jpg" alt="<%- logUser.username %>" width="40" height="40" class="rounded-circle">
                                            <% } %>
                                        </div>
                                        <div class="col-10">
                                            <h6 class="card-title"><%- logUser.firstname %> <%- logUser.lastname %></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <div class="card bg-dark text-light" onclick="window.location='/photos/albums/<%- logUser.username %>'">
                                <div class="card-body text-center">
                                    <h6 class="card-title">
                                        <i class="fa-solid fa-image mb-3"></i>
                                        <br />
                                        Photos
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="card bg-dark text-light" onclick="window.location='/videos/<%- logUser.username %>'">
                                <div class="card-body text-center">
                                    <h6 class="card-title">
                                        <i class="fa-solid fa-video mb-3"></i>
                                        <br />
                                        Videos
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <div class="card bg-dark text-light" onclick="window.location='/search'">
                                <div class="card-body text-center">
                                    <h6 class="card-title">
                                        <i class="fa-solid fa-magnifying-glass mb-3"></i>
                                        <br />
                                        Search
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="card bg-dark text-light" onclick="window.location='/users/explore'">
                                <div class="card-body text-center">
                                    <h6 class="card-title">
                                        <i class="fa-brands fa-wpexplorer mb-3"></i>
                                        <br />
                                        Explore
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6">
                            <div class="card bg-dark text-light" onclick="window.location='/users/notes'">
                                <div class="card-body text-center">
                                    <h6 class="card-title">
                                        <% if(hasNotes.length >= 1) { %>
                                            <i class="fa-solid fa-bell mb-3"></i>s
                                            <br />
                                            Notifications (<%- hasNotes.length %>)
                                        <% } else { %>
                                            <i class="fa-regular fa-bell  mb-3"></i>
                                            <br />
                                            Notifications
                                        <% } %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
